{
	"printWidth": 110,
	"useTabs": true,
	"semi": false,
	"arrowParens": "avoid",
	"trailingComma": "all",
	"endOfLine": "lf",
	"overrides": [
		{
			"files": "**/*.md",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
